<div class="new_comment_form">
  <form action="/comment" method="POST">
    <input type="text" name="comment[title]">
    <textarea name="comment[content]"></textarea>
    <input type="submit">
  </form>
</div>