<div id="login_form">
  <form action="/login" method="POST">
    Name: <input type="text" name="user[name]"><br>
    Password: <input type="password" name="user[password]"><br>
    <input type="submit">
  </form>
</div>